/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

/* Sections style */
@import url('./header.css');
@import url('./badges.css');
@import url('./footer.css');

* {
  box-sizing: border-box;
}

body {
  margin: 29px;
  font-size: 'Montserrat', sans-serif;
}

/* Gallery */

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
  width: 1128px;
}

.gallery-item {
  width: calc((1128px - 48px) / 3);
}

/* Form */

.feedback-form {
  display: flex;
  flex-direction: column;
}

.label-form {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.email-form {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-top: 8px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  display: flex;
}

.message-form {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-top: 8px;
  display: flex;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 80px;
}

.btn-form {
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background: #4e75ff;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 8px 16px;
  margin-top: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-form:hover {
  background: #6c8cff;
}
